/*{
    font-family: 'Poppins', sans-serif;
}*/

@font-face {
    font-family: 'futura-medium';
    src: url('futura-medium.otf');
}

@font-face {
    font-family: 'futura-std-book';
    src: url('futura-std-book.otf');
}

/* Navbar*/

nav{   
    justify-content: space-between;
    height: 70px;
    background-color: #0f1325;
    text-align: right;
    color: white;
    font-family: 'Poppins';
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: #0f1325;
}

nav ul li a:hover{
    color:rgba(34,141,217,255);
}

/* Home */

.home{
    width: auto;
    height: 80vh;
    background-image: url("../images/fotohome.png");
    background-position: center;
    background-size: cover;
    color:white;
}

header h1,h2{
    font-size: 67px;
    font-family: 'Poppins';
}

header h3{
    margin-top: 40px;
    font-size: 20px;
    font-family: 'futura-std-book';
}

.imghome{
    margin-top: 20px;
    max-width: 535px;
}

.text{
    color: rgba(34,141,217,255);
    font-size: 50px;
}

p{
    font-size: 20px;
    max-width: 524px;
    
}

section h1{
    font-size: 34px;
    line-height: 135.5%;
    font-weight: bold;
    background: linear-gradient(270deg, #043F83 9.74%, #3775C6 78.78%, #62A3FF 105.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

div p{
    font-family: 'Futura-Medium';
    font-size: 20px;
    line-height: 135.5%;
    color: #0E1224;
    }
    
a div:hover{
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: all 0.5s ease;
}   

section{
    display: block;
}

/* News */

.cards{
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1280px;
    max-height: 498px;
    border-radius: 80px 0px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.imgcard{
    max-width: 524px;
    max-height: 414px;
    border-radius: 80px 0px;
}


.cards h1{
    font-size: 32px;
    line-height: 135.5%;
    font-weight: bold;
    background: linear-gradient(270deg, #043F83 9.74%, #3775C6 78.78%, #62A3FF 105.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 416px;
    max-height: 133px;
}

.cards p{
    max-width: 486px;
    font-size: 20px;
    line-height: 135.5%;
    color: #0E1224;
    padding: 0px;
}

/* Pulsante */

.pulsante{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border-color: transparent;
    font-size: 15px;
    margin-top: 40px;
    background-color: #f8b634;
    color:white;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 #dd9608;
    transition: ease-out 0.5s;
    font-family: 'futura-std-book';
}

.pulsante:hover{
    box-shadow: inset 150px 0 0 0#dd9608;
}

/* Footer */

footer{
    margin-top: 80px;
    margin-bottom: 80px;
}

footer h3{
    color: rgba(34,141,217,255);
    font-size: 20px;
    line-height: 135.5%;
    background: linear-gradient(90deg, #62A3FF 0%, #3876C8 8.05%, #043F83 30.41%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

footer a{
    font-family: 'futura-medium';
    line-height: 135.5%;
    font-size: 20px;
    text-decoration: none;
    color: #0E1224;
}

/*Gallery*/

.containergalley{
    width: 100%;
    height: 400px;  
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;
}
.slide{
    min-width: 10px;
    width: 50px;
    height: 100%;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50px;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 5px black;
    opacity: .5;
}

.active{
    flex-grow: 1;
    transition-duration: 1s;
    opacity: 1;
    padding: 0 10px;
    border-radius: 25px;
    padding-bottom: 10px;
}
.nonActive{
    flex-grow: 0;
    opacity: .5
}

.slide:nth-of-type(1){
    background-image: url('../images/GALLERY 1.png');
}
.slide:nth-of-type(2){
    background-image: url('../images/GALLERY 2.png');
}
.slide:nth-of-type(3){
    background-image: url('../images/GALLERY 3.png')
}

/*banner*/

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 10px 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    transition: 400ms;
    border-radius: 0px;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #f5f6fa;
  }
  
  .cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }

  .btn-scopri{
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }

.btn-scopri:hover{
    background-color: #8e1c00;
}
.cookie-btn:hover{
    background-color: #8e1c00;
}

p1{
    font-size: 20px;
    color:#f5f6fa;
}
